<h4>שלום רב! בדף זה ניתן לבצע שאילתא אחת לפי קטגוריה שתבחרו</h4>
<br />
<h3>תהנו!</h3>

<div class="container">
  <div [hidden]="!submitted">
    <h2>Submitted!</h2><br />
    <h3>csv file and json file created in "C:\OutputForIsraeliMoviesLibrary"</h3>
    <button class="btn btn-primary" (click)="submitted=false;  heroForm.reset()">Back</button>
  </div>
  <div [hidden]="submitted">
    <h1>Query Form</h1>
    <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
      <div class="form-group">
        <label for="key1">קטגוריה</label>
        <select class="form-control" id="key1"
                required
                [(ngModel)]="data.key1" name="key1"
                #power="ngModel">
          <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="value">ערך</label>
        <input type="text" class="form-control" id="value"
               required
               [(ngModel)]="data.value" name="value"
               #name="ngModel">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
    </form>
  </div>
</div>
