<h1>ברוכים הבאים לאתר השאילתות של הסרטים הישראליים</h1>
<p>
  ,באתר זה תוכלו לבצע שאילתות רבות על סרטים ישראליים ואמנים ישראליים בתחום הקולנוע והטלויזיה
</p>
<p>
  :אתר זה הוקם בהשראת האתר המקורי
</p>
<ul>
  <li><a href='https://www.cinemaofisrael.co.il/%d7%90%d7%99%d7%a0%d7%93%d7%a7%d7%a1/'>ספר הקולנוע הישראלי</a>
</ul>
<h2>!!בואו נתחיל</h2>
<ul>
  <li>
    <strong>Query</strong>. click <em>Query</em> <br />: על מנת לבצע שאילתות בודדות על אמנים וסרטים
    <ul>
      <li>מידע על אמן</li>
      <li>מידע על סרט</li>
      <li>שחקנים לפי סרט</li>
    </ul>
  </li>
  <li>
    <strong>Multiple Queries</strong>. click <em>Multiple Queries</em> <br />: על מנת לבצע חיתוכים של שאילתות מרובות על סרטים
    <ul>
      <li>שם אמן</li>
      <li>שם שחקן</li>
      <li>שם מפיק</li>
      <li>שם במאי</li>
      <li>שם תסריטאי</li>
      <li>שנה</li>
    </ul>
  </li>

  <li>
    <strong>WikiData Queries</strong>. click <em>WikiData Queries</em> <br />: על מנת לבצע שאילתות מרובות בצורה נוחה ונגישה הישר מתוך האתר ויקידטה
    <ul>
      <li>שחקנים ישראליים</li>
      <li>במאים ישראליים</li>
      <li>מפיקים ישראליים</li>
      <li>שנולדו בעיר</li>
      <li>שנולדו בשנה</li>
      <li>... שנולדו לאחר שנת</li>
    </ul>
  </li>
</ul>
<br />
<h3>
  <strong>"C:\OutputForIsraeliMoviesLibrary"</strong>
  כל התוצאות ישמרו בתיקייה
  </h3>
<br /><strong>!!תהנו</strong>
